.container {
    border: 3px solid red;
    margin: 20px auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 250px 1fr;
    gap: 10px;
}

.item {
    background: rgb(167, 77, 231);
}

.item-1,
.item-4 {
    grid-column: 1/3;
}