<div class="container">
<div class="task">

<h2>Formulario</h2>
<form>
    
Nome da task: <input type="text" name="nomedatask"
id="nomedatask" placeholder="nomedatask" [formControl]="task"/>
<br>
        
Descriacao da task: <input type="text" name="nomedatask"
id="nomedatask" placeholder="nomedatask" [formControl]="descricao"/>

<br>

Responsavel da task: <input type="text" name="nomedatask" 
id="nomedatask" placeholder="nomedatask" [formControl]="responsavel"/>
<br>

Data de termino: <input type="Date" name="nomedatask" 
id="nomedatask" placeholder="nomedatask" [formControl]="task"/>

<br>

Data da criacao: <input type="Date" name="nomedatask"
id="nomedatask" placeholder="nomedatask" [formControl]="task"/>


</form>
<div class="button">
<button>Cancelar</button>
<button>Cadastrar</button>
  </div>
 </div> 
</div>
