<div class="container">
    <div class="user-info">

        <div class="profile">
            <div class="img"></div>
            <h2>OI, izadora</h2>
        </div>

        <div class="menu"> 
            <ul>
                <li>
                    <i class='bx bxs-dashboard'></i>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <i class='bx bxs-user' ></i>
                    <a href="#">My Profile</a>
                </li>
                <li>
                    <i class='bx bx-list-ul' ></i>
                    <a href="#">My Subscription</a>
                </li>
                <li>
                    <i class='bx bxs-balloon' ></i>
                    <a href="#">My Listings</a>
                </li>
                <li>
                    <i class='bx bx-plus' ></i>
                    <a href="#">Add New Listing</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="content">
        <div class="search">
            <div class="date">
                <h4>Dashboard</h4>
                <h5>{{data | date:'dd.MM.yyyy'}}</h5>
            </div>
            <div class="input">
                <input type="text" name="pesq" id="pesq" placeholder="Search...">
                
                <div class="icon">
                    <i class='bx bx-search-alt-2'></i>
                </div>
            </div>

        </div>

        <div class="info">
            <div class="box1"></div>
            <div class="box2"></div>
        </div>

        <div class="adm">
            <div class="team">
                <div class="title">
                    <div class="ball">
                        <i class='bx bx-plus'></i>
                    </div>
                    <span>Membros do Time</span>
                </div>
                
                <div class="box">
                    <div class="member">
                     
                        <div class="info-member">
                            <h4>Fulano</h4>
                            <h5>Professor</h5>
                        </div>
                    </div>
                    <div class="member">
                      
                        <div class="info-member">
                            <h4>Fulano</h4>
                            <h5>Professor</h5>
                        </div>
                    </div>
                    <div class="member">
                    
                        <div class="info-member">
                            <h4>Fulano</h4>
                            <h5>Professor</h5>
                        </div>
                    </div>
                    <div class="member">
                     
                        <div class="info-member">
                            <h4>Fulano</h4>
                            <h5>Professor</h5>
                        </div>
                    </div>
                    <div class="member">
                    
                        <div class="info-member">
                            <h4>Fulano</h4>
                            <h5>Professor</h5>
                        </div>
                    </div>
                    <div class="member">
                      
                        <div class="info-member">
                            <h4>Fulano</h4>
                            <h5>Professor</h5>
                        </div>
                    </div>
                </div>
                
                <div class="title">
                    <div class="ball">
                        <i class='bx bx-plus'></i>
                    </div>
                    <span>Atividades</span>
                </div>

                <div class="detail-at">
                    <div class="member">
                      
                        <div class="info-member">
                            <h4>Marila</h4>
                            <h5>Professora</h5>
                            <h5 class="data">30 de Maio 2023</h5>
                        </div>
                    </div>
                    <div class="member">
                      
                        <div class="info-member">
                            <h4>Diana</h4>
                            <h5>Estudante</h5>
                            <h5 class="data">30 de Maio 2023</h5>
                        </div>
                    </div>
                    <div class="member">
                       
                        <div class="info-member">
                            <h4>Ruby</h4>
                            <h5>Estudante</h5>
                            <h5 class="data">30 de Maio 2023</h5>
                        </div>
                    </div>
                    <div class="member">
                       
                        <div class="info-member">
                            <h4>Stacy</h4>
                            <h5>Professora</h5>
                            <h5 class="data">30 de Maio 2023</h5>
                        </div>
                    </div>
                </div>
            </div>


            <div class="task">
                <a routerlink="/task">
                <div class="title">
                    <div class="ball">
                        <i class='bx bx-plus'></i>
                    </div>
                    <span>Adicionar nova tarefa</span>
                </div>
                </a>
                <div class="tasks">
                    
                </div>

            </div>
        </div>

    </div>

    <div class="user">
        <div class="box-1">
            <i class='bx bx-bell'></i>
            <i class='bx bx-cog' ></i>
            <i class='bx bxs-user-circle' ></i>
        </div>
        <div class="box-2">
           <div class="ball">
       
           </div>
            <h3>Carolina</h3>
            <h5>Estudante</h5>
        </div>
        <div class="box-3">
            <div class="box">
                <div class="item-1">
                    <div class="ball">
                        <i class='bx bx-trophy'></i>
                    </div>
                    <div class="text">
                        <h5>31</h5>
                        <h5>Conquistas</h5>
                    </div>
                </div>
                <div class="item-2">
                    <div class="ball">
                        <i class='bx bx-user'></i>
                    </div>
                    <div class="text">
                        <h5>07</h5>
                        <h5>Pontos</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-4">
            <div class="user-title">
                <h3>Tarefas em Andamento</h3>
                <a href="#">Mostrar todos</a>
            </div>
          
            <div class="task-list">
                <div class="number">
                    <span>01</span>
                </div>
                <div class="task-info">
                    <h4>Criar a grid do login</h4>
                    <h5>Tempo restante: 1d</h5>
                </div>
            </div>

            
            <div class="task-list">
                <div class="number">
                    <span>02</span>
                </div>
                <div class="task-info">
                    <h4>Criar a grid do dashboard</h4>
                    <h5>Tempo restante: 3d</h5>
                </div>
            </div>


            <div class="user-title">
                <h3>Tarefas Recentes</h3>
                <a href="#">Mostrar todos</a>
            </div>
            
            <div class="recent-task">
                <div class="status">
                    <div class="ball"></div>
                    <h5>Cadastrar usuário</h5>
                </div>
                <h5 class="time">3d</h5>
            </div>
            <div class="recent-task">
                <div class="status">
                    <div class="ball"></div>
                    <h5>Cadastrar GitHub</h5>
                </div>
                <h5 class="time">4d</h5>
            </div>
            <div class="recent-task">
                <div class="status">
                    <div class="ball"></div>
                    <h5>Fazer tarefa 02</h5>
                </div>
                <h5 class="time">5d</h5>
            </div>
            <div class="recent-task">
                <div class="status">
                    <div class="ball"></div>
                    <h5>Assistir reunião</h5>
                </div>
                <h5 class="time">6d</h5>
            </div>
            <div class="recent-task">
                <div class="status">
                    <div class="ball"></div>
                    <h5>Ir no médico</h5>
                </div>
                <h5 class="time">7d</h5>
            </div>
            
        </div>
    </div>
</div>










