<div class="container">

    <div class="login">

        <h2>Sing In</h2>
        
        <div *ngIf="isError" class="error">
            <i class='bx bx-error' ></i><span>User or password incorrect!</span>

        </div>
        <div *ngIf="isCorrect" class="correct">
            <i class='bx bx-user-check'></i><span>User or password correct!</span>

        </div>
       
        <div class="input">
            <i class='bx bx-envelope-open'></i>
            <input type="text" name="email" id="email" placeholder="E-mail" [(ngModel)]="user" />
        </div>

        <div class="input">
            <i class='bx bx-lock-alt'></i>
            <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="pwd" />
            <i class='bx bx-low-vision'></i>
        </div>

        <div class="remember">
            <div>
                <input type="checkbox" name="remember" id="remember">
                <h4>Remember me</h4>
            </div>
            <h4>Forgot password?</h4>
        </div>

        <button (click)="login()">SING IN</button>
        <h3>Don't have account? Create</h3>

    </div>
</div>