.container{
    background: linear-gradient(45deg, #eeeeef, #7b8ad8, #e589d6);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.img{
    height: 250px;
    width: 200px; 
}
  

.calc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc input {
    width: 30px;
    height: 30px;
    margin: 8px;
    outline: none;
    background: #705690;
    font-size: 18px;

}