:root {
    --bg-menu: #e2e9ef;

    --shadow: #696969; 
}

.container {
    margin: 20px;
    width: 90%;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 350px;
    box-shadow: 3px 3px 15px #696969;
    border-radius: 10px;
    
}

.user-info {
    display: grid;
    grid-template-rows: 150px 1fr;
}

.profile {
    /* background: #a5a5eb; */
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    padding: 10px;
    justify-items: center;
}

.profile .img {
    width: 80px;
    height: 80px;
    background: #660b40;
    border-radius: 50%;
}


.user-info .menu li {
    list-style: none;
    padding: 15px 20px;
}

.user-info .menu li i {
    color: #696969;
    font-size: 19px;
    margin-right: 15px;
}

.user-info .menu li a {
    color: #696969;
    font-size: 19px;
    text-decoration: none;
}

.content {
    display: grid;
    grid-template-rows: 100px 200px 1fr;
    padding: 40px;

}


.user, .user-info {
    background-color: #f7f8fa;
    border-radius: 5px;
} 

.content {
    display: grid;
    grid-template-rows: 100px 200px 1fr;
    padding: 40px;
}

.content .search {
    display: grid;
    grid-template-columns: 150px auto;
    justify-content: space-between;
    align-items: center;

}

.content .search .input {
    background: #f1f8fa;
    display: flex;
    height: 40px;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    border-radius: 5px;

}

.content .search .input  input{
    background: transparent;
    border: none;
    margin-left: 15px;
    height: 30px;
    width: 160px;
    outline: none;
}


.content .search .input .icon {
    height: 100%;
    color: #fff;
    background: #6555e2;
    font-size: 24px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
