:root {
    --bg-menu: #e2e9ef;

    --shadow: #696969; 
}

.container {
    margin: 20px auto;
    width: 90%;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 350px;
    box-shadow: 3px 3px 15px #696969;
    border-radius: 10px;
    
}

.user-info {
    display: grid;
    grid-template-rows: 150px 1fr;
}

.profile {
    /* background: #a5a5eb; */
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    padding: 10px;
    justify-items: center;
}

.profile .img {
    width: 80px;
    height: 80px;
    background: #d89ec0;
    border-radius: 50%;
}


.user-info .menu li {
    list-style: none;
    padding: 15px 20px;
}

.user-info .menu li i {
    color: #696969;
    font-size: 19px;
    margin-right: 15px;
}

.user-info .menu li a {
    color: #696969;
    font-size: 19px;
    text-decoration: none;
}

.content {
    display: grid;
    grid-template-rows: 100px 200px 1fr;
    padding: 40px;

}


.user, .user-info {
    background-color: #f7f8fa;
    border-radius: 5px;
} 

.content {
    display: grid;
    grid-template-rows: 100px 200px 1fr;
    padding: 40px;
}

.content .search {
    display: grid;
    grid-template-columns: 150px auto;
    justify-content: space-between;
    align-items: center;

}

.content .search .input {
    background: #f1f8fa;
    display: flex;
    height: 40px;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    border-radius: 5px;

}

.content .search .input  input{
    background: transparent;
    border: none;
    margin-left: 15px;
    height: 30px;
    width: 160px;
    outline: none;
}


.content .search .input .icon {
    height: 100%;
    color: #fff;
    background: #df779f;
    font-size: 24px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content .info {
    display: grid;
    grid-template-columns: 2.7fr 1.3fr;
    gap: 30px;
}
 .content .info .box1 {
    background: #a72d7e;
}

.content .info .box2 {
    background: #d0abee;
}

.content .adm {
    display: grid;
    grid-template-columns: 1.4fr 1.1fr;
    gap: 30px;
    margin-top: 30px;

}
 .content .adm .team {
  background: rgb(236, 177, 226);

 }

 .content .adm .task{
     background: rgb(58, 224, 188);
 }

 .content .adm .team .title {
     background: rgb(96, 250, 211);
     align-items: center;
     display: flex;
     height: 50px;
     border-radius: 1px;

 }


 .content .adm .team .title .ball {
     background: rgb(203, 162, 241);
     border-radius: 50%;
     width: 30px;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 15px 0 25px;
     
 }

 .content .adm .team .title .ball i {
      color: #fff;
      font-size: 22px;
 }

 .content .adm .team .title span {
     font-size: 18px;
     font-weight: 600;
 }
 
 .container .user {
    display: grid;
    grid-template-rows: 100px 180px 120px 1fr;
    gap: 15px;
    
 }

 .container .user div {
    background: #beb5bb;

 }

 .container .user .box-1{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 25px;
    
 }

  .container .user .box-1 i{
    margin: 0 10px;
    font-size: 25px;
    color:#696969;
    align-items: center;

  }

.container .user .box-2 {
   font-size: 25px;
   margin: 0 10px;

   
 }
 .container .user .box-2 img {
    width: 100px;
 }

.container .user .box-3 {
    background: #b8aeb7;
 
 } 

 .container .user .box-4 {
    background: #b8aeb7;

 }





  
