<div class="container">
    <div class="user-info">
        <div class="profile">

            <div class="img"></div>
            <h2>Hi, Izadora!</h2>

        </div>
        <div class="menu">
            <ul>
                <li><i class='bx bxs-dashboard'></i>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bxs-user'></i>
                    <a href="#">My Profile</a>
                </li>
                <li><i class='bx bx-list-ul'></i>
                    <a href="#">My Subscription</a>
                </li>
                <li><i class='bx bxs-balloon'></i>
                    <a href="#">My Listings</a>
                </li>
                <li><i class='bx bx-plus'></i>
                    <a href="#">Add New Listing</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="content">

        <div class="search">
            <div class="date">
                <h4>Dashboard</h4>
                <h5>Data</h5>
            </div>
            <div class="input">
                <input type="text" name="pesq" id="pesq" placeholder="Search...">
                <div class="icon">
                    <i class='bx bx-search-alt-2'></i>
                </div>
            </div>

        </div>

        <div class="info">
            <div class="box1"></div>
            <div class="box2"></div>
        </div>

        <div class="adm">
            <div class="team">
                <div class="title">
                    <div class="ball">
                        <i class='bx bx-plus' ></i>
                    </div>
                    <span>Membros do Time</span>
                </div>
            </div>
            <div class="task"></div>
        </div>

    </div>

    <div class="user"></div>
</div>


