<div class="container">

    <div class="cabecalho">
        <h1>Portifólio</h1>
    </div>
    <div class="texto1">
        <span>Olá meu nome é Maria Luysa, vou falar um pouco sobre mim, tenho 16 anos, sou uma pessoa que gosta de animais, principalmente de cavalo,
            as vezes posso ser um pouco explosiva. 
            Para o meu futuro é uma coisa que todos podem achar meio arriscado, mas é o que eu gosta, quero ser médica do exército 
            na mata. É isso.
        </span>
    </div>
    <div class="img1">
       <img src="/assets/img1.jpeg" alt="">
    </div>
    <div class="img2">
        <img src="/assets/img2.jpeg" alt="">
    </div>
    <div class="texto2">
        <span>Olá, eu sou a Carolina e aqui vou falar um pouco sobre mim!
            Tenho 16 anos, sou uma pessoa calma, amorosa, amo desenhar ou pintar, escutar música e assistir séries.
            Tenho como planos futuros de prestar direito em alguma universidade federal, e virar juiza e atuar na área.</span>
    </div>
    <div class="rodape">
        <span>@carolinasantosfreire</span> <span>@marialuysabertoletti</span>
    </div>

</div>