* {
    font-family: "Acme", sans-serif;
    font-family: "Alkatra", cursive;
    font-family: "Gochi Hand", cursive;
}

.container {
    background: #290bd1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background: rgb(226, 198, 224);
    width: 450px;
    height: 450px;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 10px 10px 50px 10px rgba(219, 197, 210, 0.82);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    box-shadow: 10px 10px 10px 5px rgb(182, 55, 114);
    width: 350px;
    height: 25px;
    border-radius: 5px;
    margin: 20px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.input input {
    width: 280px;
    height: 12px;
    font-size: 18px;
    border: none;
    outline: none;
    margin-bottom: 5px;
}

i {
    font-size: 30px;
    color: rgba(224, 25, 141, 0.82);
}

.remember {
    display: flex;
    align-items: center;
    width: 370px;
    justify-content: space-between;
}

.remember>div {
    display: flex;
    gap: 5px;
}

h3 {
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}

h4 {
    font-size: 14px;
    font-weight: 400;
    color: #b135b1;
}

button {
    width: 80px;
    height: 40px;
    margin: 30px;
    border-radius: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.733), #000000, #000000);
    box-shadow: 5px 5px 5px #9334a07c;
    border: 0;
    color: #ecbdbdfd;
    margin: 30px;
    cursor: pointer;
}

button:hover {
    filter: brightness(140%);
}

.error {
    border: 2px solid tomato;
    margin-top: 5px;
    width: 280px;
    background: rgb(230, 196, 174);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.error i {
    margin-right: 5px;
}

.correct {
    border: 2px solid rgb(71, 255, 132);
    margin-top: 5px;
    width: 280px;
    background: rgb(141, 207, 185);
    border-radius: 5px;
    display: flex;
    align-items: center;
}